@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 15% 5%;
	font-family: Spartan, sans-serif;
}

.intro {
	text-align: center;
}

h1 {
	color: hsl(300, 43%, 22%);
	margin: 5% 0;
	size: 15px;
}

.intro > p {
	color: hsl(303, 10%, 53%);
	width: auto;
	margin: 5% 0;
}

.ratings {
	list-style-type: none;
}

.ratings li {
	background-color: hsl(300, 24%, 96%);
	margin: 5% 0;
	padding: 5%;
	height: 100px;
	border-radius: 10px;
	text-align: center;
}

.ratings li > p {
	color: hsl(300, 43%, 22%);
	font-weight: 700;
}

.stars {
	margin-bottom: 15px;
}

.comments {
	list-style-type: none;
}

.comments li {
	background-color: hsl(300, 43%, 22%);
	margin: 5% 0;
	padding: 12% 7%;
	border-radius: 10px;
	color: hsl(300, 24%, 96%);
}

.comments h2 {
	font-weight: 400;
	font-size: 15px;
}

.comments h3 {
	color: hsl(333, 80%, 67%);
	font-weight: 400;
	font-size: 15px;
	margin-top: 3%;
}

.comments p {
	margin-top: 10%;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
}

.profile {
	border-radius: 50%;
	width: 50px;
	float: left;
	margin-right: 7%;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
