@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 15% 5%;
	font-family: Spartan, sans-serif;
}

.background {
	position: absolute;
}

.top {
	left: 0;
	top: 0;
}

.desktop {
	display: none;
}

.intro {
	text-align: center;
}

h1 {
	color: hsl(300, 43%, 22%);
	margin: 5% 0;
	size: 15px;
}

.intro > p {
	color: hsl(303, 10%, 53%);
	width: auto;
	margin: 5% 0;
}

.ratings {
	list-style-type: none;
}

.ratings li {
	background-color: hsl(300, 24%, 96%);
	margin: 5% 0;
	padding: 7%;
	height: 100px;
	border-radius: 10px;
	text-align: center;
}

.ratings li > p {
	color: hsl(300, 43%, 22%);
	font-weight: 700;
}

.stars {
	margin-bottom: 15px;
}

.comments {
	list-style-type: none;
}

.comments li {
	background-color: hsl(300, 43%, 22%);
	margin: 5% 0;
	padding: 12% 7%;
	border-radius: 10px;
	color: hsl(300, 24%, 96%);
}

.comments h2 {
	font-weight: 400;
	font-size: 15px;
}

.comments h3 {
	color: hsl(333, 80%, 67%);
	font-weight: 400;
	font-size: 15px;
	margin-top: 3%;
}

.comments p {
	margin-top: 10%;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
}

.profile {
	border-radius: 50%;
	width: 50px;
	float: left;
	margin-right: 7%;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1440px) {
	.mobile {
		display: none;
	}

	.bottom {
		right: 0;
		bottom: 0;
	}

	body {
		padding: 7% 10.5%;
		overflow: hidden;
	}

	.intro {
		text-align: start;
		width: 500px;
		float: left;
	}

	.intro h1 {
		font-size: 50px;
	}

	.ratings {
		float: right;
	}

	.ratings li {
		margin: 5% 0;
		width: 450px;
		height: 60px;
		padding: 5%;
	}

	.ratings p {
		font-size: 15px;
	}

	.stars {
		float: left;
		margin: 0;
	}

	.ratings li:nth-child(1) {
		margin-left: -100px;
	}

	.ratings li:nth-child(2) {
		margin-left: -50px;
	}

	.comments {
		margin-top: 350px;
		display: flex;
		justify-content: space-between;
	}

	.comments li {
		width: 360px;
		height: 250px;
		padding: 3%;
		margin: 0;
	}

	.comments p {
		margin-top: 10%;
		font-size: 13px;
	}

	.comments li:nth-child(2) {
		margin-top: 15px;
	}
	.comments li:nth-child(3) {
		margin-top: 30px;
	}
}
